<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Développement Personnel
			{% endblock %}
		</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('styles/app.css') }}"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}


		</head>
		<body>
			<header>
		<nav>
			<div class="logo">
				<i class="fas fa-brain"></i>
				<span>DevPerso</span>
			</div>
			<ul>
{% block header_extra %}{% endblock %}
				<li>
					<a href="{{ path('psy-ia')}}">Psychologue IA</a>
				</li>
				<li>
					<a href="{{ path('app_i_a')}}">Discussion IA</a>
				</li>
				{# <li>
					<a href="{{ path('agenda')}}">Agenda</a>
				</li>
				<li>
					<a href="{{ path('note')}}">Notes</a>
				</li>
				<li>
					<a href="{{ path('activity')}}">Activités</a>
				</li>
				<li>
					<a href="{{ path('goal')}}">Objectifs</a>
				</li> #}
				<li>
					<select name="themeSelect" id="theme">
						<option value="light">Thème Clair</option>
						<option value="dark">Thème Sombre</option>
						<option value="warm">Thème Chaud</option>
					</select>
				</li>
				<li>
					<a href="{{ path('app_register') }}">S'inscrire</a>
				</li>
				<li>
					<a href="{{ path('app_login') }}">Se connecter</a>
				</li>
				
			</ul>
		</nav>
	</header>
			
				{% block body %}{% endblock %}
			
			  <footer>
        <p>&copy; 2023 DevPerso. Tous droits réservés.</p>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
			<script defer src="{{ asset('js/script.js') }}"></script>


		</body>
	</html>
