<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Projet de Développement Personnel{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li><a href="{{ path('app_goal') }}">Objectifs</a></li>
                <li><a href="{{ path('app_activity') }}">Activités</a></li>
                <li><a href="{{ path('app_i_a') }}">IA</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Mon Projet de Développement Personnel</p>
    </footer>
    <script  src="{{ asset('js/script.js') }}"></script>
</body>
</html>